:root {
	--stars-blue: #001033;
	--stars-purple: #170043;
}

body {
	overflow: hidden;
	background: var(--stars-blue);
	font-family: "Noto Sans";
	font-weight: 100;
	
	&.purple {
		background: var(--stars-purple);
	}
	
	&.sunset {
		background: linear-gradient(to top,rgb(255, 234, 117) 0%, rgb(250, 121, 82) 50%, #462192 75%);
	}
}

a {
	color: white;
	text-decoration: none;
	padding: 4px 12px;
	font-weight: 500;
	
	&.current {
		background: white;
		color: black;
		border-radius: 4px;
	}
}

nav {
	width: 100%;
	text-align: center;
	z-index: 200;
	
	ul {
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
}

.hillsWrapper {
	overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
	z-index: 120;
	display: flex;
	align-items: end;
	
	.hills {
        width: 100%;
        height: 150px;
        bottom: -1px;
	}
}